
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Elemento 1</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Contenido del elemento 1
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Elemento 2</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Contenido del elemento 2
          </mat-card-content>
        </mat-card>

  