<form [formGroup]="formGroup">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Número de parte</mat-label>
          <mat-select formControlName="numeroParte">
            <mat-option *ngFor="let parte of partes" [value]="parte">{{ parte }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>RFID</mat-label>
          <input matInput formControlName="rfid" type="text">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion"></textarea>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Diámetro interior</mat-label>
          <mat-select formControlName="diametroInterior">
            <mat-option *ngFor="let diametro of diametrosInteriores" [value]="diametro">{{ diametro }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Longitud</mat-label>
          <input matInput formControlName="longitud" type="number">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Estatus</mat-label>
          <mat-select formControlName="estatus">
            <mat-option *ngFor="let estatus of estatusOpciones" [value]="estatus">{{ estatus }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="col">
        <mat-form-field>
          <mat-label>Diámetro exterior</mat-label>
          <mat-select formControlName="diametroExterior">
            <mat-option *ngFor="let diametro of diametrosExteriores" [value]="diametro">{{ diametro }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Ubicación</mat-label>
          <mat-select formControlName="ubicacion">
            <mat-option *ngFor="let ubicacion of ubicacionesOpciones" [value]="ubicacion">{{ ubicacion }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Grado</mat-label>
          <mat-select formControlName="grado">
            <mat-option *ngFor="let grado of gradosOpciones" [value]="grado">{{ grado }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Rango</mat-label>
          <mat-select formControlName="rango">
            <mat-option *ngFor="let rango of rangosOpciones" [value]="rango">{{ rango }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Fecha de ingreso</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaIngreso">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <mat-checkbox formControlName="esValido">Es válido</mat-checkbox>
      </div>
    </div>
  
    <div class="row">
      <div class="col">
        <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        <button mat-raised-button (click)="cerrar()">Cerrar</button>
      </div>
    </div>
  </form>