 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    
  } 
  
  input {
    /* flex-grow: 1; */
    
    /* width: 200px; */
    display: table-cell;
    width: 800px;
    
    
  }
  
  /* button {
    padding: 0px 0px;
    height: 30px;
    width: 30px;
  } */

  .hidden-column {
    display: none;
  }

  .formaboton {
    display: table-cell;
    max-width: 400px;
  }