<br>
<mat-card >
<div class="table-container mat-elevation-z8">
  <div class="row">
    <div class="container">
    <mat-form-field appearance="outline">
      <!-- <mat-label>Buscar</mat-label> -->
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." >
      <button matSuffix mat-icon-button color="primary">
        <mat-icon class="search-icon" >search</mat-icon>
        <ng-template #elseBlock>
          <mat-icon class="search-icon">close</mat-icon>
        </ng-template>
      </button>
    </mat-form-field>  
    <div></div>
    <div></div>
    <div></div>
    <!-- <button mat-mini-fab matTooltip="Agregar tramo" color="primary" (click)="openAlta()">
      <mat-icon>add</mat-icon> 
    </button> -->
    <div class="formaboton">
    <button mat-flat-button color="primary" (click)="openAlta()">+ Agregar tramo</button>
  </div>
    &nbsp;
    </div>

  </div>

<div class="row">

<div class="table-container mat-elevation-z8">
  <mat-card>
  
    <table mat-table [dataSource]="dataSource" class="mat-table">
      <!-- Columna ID Inventario -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario.idInventario }} </td>
      </ng-container>
  
      <!-- Columna Nombre -->
      <ng-container matColumnDef="rfid">
        <th mat-header-cell *matHeaderCellDef> RFID </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario.rfid }} </td>
      </ng-container>
  
      <!-- Columna ID numero parte -->
      <ng-container matColumnDef="idnumeroparte">
        <th mat-header-cell *matHeaderCellDef> ID Numero parte </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario[columnIndex.idNumeroParte] }} </td>
      </ng-container>

      <!-- Columna Numero de parte -->
      <ng-container matColumnDef="numeroparte">
        <th mat-header-cell *matHeaderCellDef> Numero parte </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario.numeroParte }} </td>
      </ng-container>
  
      <!-- Columna Descripcion -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario.descripcion }} </td>
      </ng-container>

      <!-- Columna Diametro interior -->
      <ng-container matColumnDef="di">
        <th mat-header-cell *matHeaderCellDef> Diametro Interior </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario.diametroInterior }} </td>
      </ng-container>

        <!-- Columna Diametro exterior -->
      <ng-container matColumnDef="de">
      <th mat-header-cell *matHeaderCellDef> Diametro Exterior </th>
      <td mat-cell *matCellDef="let inventario"> {{ inventario.diametroExterior }} </td>
      </ng-container>

      <!-- Columna Longitud -->
      <ng-container matColumnDef="longitud">
        <th mat-header-cell *matHeaderCellDef> Longitud </th>
        <td mat-cell *matCellDef="let inventario"> {{ inventario.longitud }} </td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let inventario">
          <!-- Aquí puedes agregar botones para editar y eliminar -->
          <button mat-icon-button color="primary" (click)="openEdicion(inventario.idInventario)" [matTooltip]="'Editar ' + inventario.rfid">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(inventario)" [matTooltip]="'Eliminar ' + inventario.descripcion">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Agregar columnas a la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator> -->
    <!-- <mat-paginator [length]="200" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"> </mat-paginator> -->
    <!-- <mat-paginator
  [length]="length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePageEvent($event)"
>
</mat-paginator> -->

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons
aria-label="Paginado de tuberia de perforacion">
</mat-paginator>

</mat-card>
    
  </div>
</div>
</div>
</mat-card>