
<br>
  <div class="row">
  <mat-stepper linear #stepper  (selectionChange)="cambiarPaso($event)">
    <mat-step [editable]="isEditable" [ngClass]="{'active-step': currentStepIndex === 0}">
    <ng-template matStepLabel>Movimiento de TP</ng-template>
      <app-movimientotp></app-movimientotp>
    </mat-step>

    <mat-step  [editable]="isEditable" [ngClass]="{'active-step': currentStepIndex === 1}">
    <ng-template matStepLabel>Crear tally programado</ng-template>
      <app-tallyprogramado></app-tallyprogramado>
    </mat-step>

    <mat-step [ngClass]="{'active-step': currentStepIndex === 2}">
      <ng-template matStepLabel>Ejecución</ng-template>
      <p>Ejecucion</p>
      <div>
        <button mat-flat-button class="button-white-text" matStepperPrevious>Atras</button>&nbsp;&nbsp;
        <button  mat-flat-button class="button-white-text" (click)="stepper.reset()">Finalizar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<div  [ngClass]="{'active-step': currentStepIndex === 1}">
  Contenido del elemento
</div>
  